@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

<h2>Index</h2>

@Html.Raw(ViewBag.Chart.ToHtmlString().Replace("['Date.parse", "[Date.parse").Replace("')'," ,"'),"))


